@import "tailwindcss";


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(120, 120, 140, 20);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343c61;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3e4a80;
  }